<div style="padding: 10px">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><a (click)="clickTitle.emit(product)">{{ product.name }}</a></h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">{{product.name}}</h6> -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
      <button class="btn btn-info btn-sm" (click)="clickAddToCart.emit(product)">Add to cart</button>
    </div>
  </div>
</div>
